<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="QuanLyCafe.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="QL_QuancapheConnectionString" connectionString="Data Source=MMTNGUYENQUANGM\SQLEXPRESS;Initial Catalog=QL_Quancaphe; Integrated Security = false; uid =sa; pwd =123;"
      providerName="System.Data.SqlClient" />
    <add name="QuanLyCafe.Properties.Settings.QL_QuancapheConnectionString"
      connectionString="Data Source=MMTNGUYENQUANGM\SQLEXPRESS;Initial Catalog=QL_Quancaphe;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <QuanLyCafe.Properties.Settings>
      <setting name="Quanlicaphe" serializeAs="String">
        <value>Data Source=MMTNGUYENQUANGM\SQLEXPRESS;Initial Catalog=QL_Quancaphe;Integrated Security=True</value>
      </setting>
    </QuanLyCafe.Properties.Settings>
  </userSettings>
</configuration>